.container{
    display:grid;
    grid-template-columns: 1fr 5fr;
    border: 2px soild red;
    background-color: rgb(228, 233, 231);
    box-sizing: border-box;
 height: 100%;
}

.sidebar{
        background-color: rgb(255, 255, 255);
    display: flex;
   
    flex-direction: column;
    padding-left: 20px;
    width: 170px;
   height: 100%;
   margin: 5px;
   border-radius: .23rem;

}

.todo1{
padding-top: 40px;
margin-left: 10px;
}
.todo{
    padding: 10px;
    font-size:16px;

}
 span{
    padding:0px 8px;
}

/* Main content*/
#todos{
    background-color: rgb(251, 255, 255);
    height: 300px;
    width: 600px;
    margin: 10px 100px;
}
.list{
    display: flex;
   
    list-style: none;
   
    
}


.input {
    display: flex;
    justify-content: space-around;
}
.input input{
    height: 25px;
    width: 350px;
    border: none;
    outline: none;
    background-color: rgb(236, 233, 233);

}
.input button{
    border: none;
    outline: none;
    width: 45px;
    background-color: rgb(207, 207, 141);
    border-radius: .23rem;
}
.list{
       display: flex;
    /* justify-content: space-around; */
    gap: 10px;

}

.list button{
background-color: rgb(255, 144, 144);
 width: 55px;
    border-radius: .23rem;
    outline:"none";
    border: "none";
    margin-left: 100px;
  
}
/*colorswitcher*/
.color{
    /* background-color: rgb(103, 103, 219); */
      
        display:flex;
    flex-direction: column;
    align-items: center;
 gap:20px;
 padding-top: 50px;

}
.color_btn{
    display: flex;
 flex-direction: row;
 gap:10px;

}

/*incre..decre..reset*/
.increment{
    background-color: rgb(248, 250, 251);
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
border-radius: .32rem;
color:blue
    
}
.i-d-r-btn{
    display: flex;
    gap:15px
}
.increment-btn{
    background-color: rgb(207, 211, 255);
    border-radius: .23rem;
    padding:10px 15px;
    opacity: .8;
border: none;    
}
/*text-reverse*/
.reverse{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 300px;
}
.rev_btn{
    border-radius: .32rem;
    background-color: rgb(165, 202, 222);
    padding: 6px 80px;
    font-size: 17px;
    border-color: blue;
}
.reverse input{
    padding: 18px;
}
.del{
    padding: 5px 20px;
    height: 27px;
    margin-top: 18px;
    background-color: rgb(242, 158, 162);
    border-radius: .32rem;
    border:none
}